fastapi
uvicorn[standard]
sqlAlchemy
passlib
bcrypt==4.0.1
python-multipart
python-jose[cryptography]
pytest-asyncio
torch
torchaudio
chatterbox-tts
setuptools<81
assemblyai
python-docx
ollama
PyPDF2
python-dotenv